<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Application</h1>
	<form action="/getNames" method="post">
		<p style="padding: 10px; border: 2px ridge red;">
			Congrats! You have now entered the raffle!
		</p>

		<input type="submit" id ="submitForm" value="Click here to see the location where you entered the raffle!" />

			
		<hr></hr>
	</form>
</body>

</html>
